<!-- templates/post.html -->

{% extends 'base.html' %}

{% block conteudo %}

<form action='/post/gravar' method='post'>
  <p>
    <label for='titulo'>Título:</label>
    <input id='titulo' type='text' name='titulo'>
  </p>
  <p>
    <label for='autor'>Autor:</label>
    <input id='autor' type='text' name='autor'>
  </p>
  <p>
    <label for='texto'>Texto:</label>
    <textarea id='texto' name='texto'></textarea>
  </p>
  <p>
    <input type='submit' value='Enviar'>
  </p>
</form>

{% endblock %}
