<!-- templates/presenca.html -->

{% extends 'base.html' %}

{% block conteudo %}

<form action='/presenca/gravar_presenca' method='post'>
  <p>
    <label for='email'>E-mail:</label>
    <input id='email' type='text' name='email'>
  </p>
  <p>
    <label for='presente'>Presente:</label>
    <input id='presente' type='radio' name='presente' value="presente">
    <label for='Ausente'>Ausente:</label>
    <input id='Ausente' type='radio' name='presente' value="ausente">
  </p>
  <p>
    <label for='resposta'>Resposta:</label>
    <input id='resposta' type="text" name='resposta'>
  </p>
  <p>
    <label for='comentarios'>Comentários:</label>
    <textarea id='comentarios' name='comentarios'></textarea>
  </p>
  <p>
    <input type='submit' value='Enviar'>
  </p>
</form>

{% endblock %}